* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #353148;
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 300;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
}

/* margin for main */
main {
    background-color: #FAFAFA;
    border-top: 1px solid #353148;
    padding-bottom: 100px;
}

/* header */
.header {
    text-align: center;
    background-color: #fff;
    margin: 2% 2% 2%;
    border: 1px solid #353148;
    border-radius: 25px;
}

/* header text */
.header nav ul li  a{
    font-size: 20px;
    font-weight: 600;
    color: #353148;
    text-decoration: none;
}

/* header text inline*/
.header nav ul li{
    display: inline-block;
    margin: 25px 2% 25px;
}

/*wrapper for parallax effect*/
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.home {
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}

/*background parallax effect*/
.background {
    transform: translateZ(-10px) scale(2.3);
}

/*face parallax effect*/
.foreground {
    margin-top: 50px;
    transform: translateZ(-3px) scale(.6);
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Section*/
section {
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 35px;
    padding-bottom: 35px;
}

section .cards {
    padding-top: 40px;
}

/* Hero Text*/
.home h1 {
    font-size: 128px;
    font-weight: 700;

    text-align: center;
    margin: -30px;
}

/* Text below Hero Text*/
.home h3 {
    font-size: 24px;
    font-weight: 400;

    text-align: center;
    margin: -30px;
}

.cards-wrapper {
    max-width: 1000px;
    display: flex;
    gap: 20px;
    overflow-x: auto; /* Allows horizontal scrolling */
    scrollbar-width: none;
}

/* card for skill*/
.skill-card {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #353148;
    padding: 1em;
    min-width: 430px;
    box-sizing: border-box;
}

.skill-card div div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tools {
    scale: 70%;
}

.image-with-description figcaption {
    display: block;
    margin: 0 auto;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    text-align: center;
}

/* cards for project*/
.project-cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap between cards */
}

.project-card {
    display: flex;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #353148;
    padding: 1em;
    box-sizing: border-box;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px 20px;
    justify-content: center;
    gap: 30px;
}

.project-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Project text*/
.project-description h1 {
    font-size: 40px;
    font-weight: 700;
}

.project-description h2 {
    font-size: 20px;
}

.project-image {
    max-width: 450px;
    border-radius: 15px;
}

.small-card {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #353148;
    padding: 1em;
    box-sizing: border-box;
    max-width: 430px;
}

.small-card-col {
    margin: 10px;
}

.small-card-description-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    flex-grow: 1;
}

.small-card-description h1 {
    font-size: 24px;
    font-weight: 700;
}

.small-card-description h2 {
    font-size: 16px;
}

.small-card-description h3 {
    font-size: 20px;
    font-weight: 600;
}

.small-card-image {
    max-width: 380px;
    border-radius: 15px;
}

.small-card-link {
    margin-top: auto; /* Push the link to the bottom */
}

footer {
    background-color: #353148;
    color: #fff;
}

.footer-container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 70px;
    display: flex;
    justify-content: space-between;
}

.footer-row {
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.footer-socials {
    display: flex;
    gap: 20px
}

.footer-col h1 {
    font-size: 48px;
    font-weight: 900;
}

.footer-col h2 {
    font-size: 24px;
    font-weight: 700;
}

.footer-col h3, .footer-col a {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}