* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #333333;
    background-color: #f3f3f1;
}

h1 {
    font-weight: 700;
    font-size: 3em;
    margin-top: 1%;
}

h2 {
    font-weight: 400;
    font-size: 1.5em;
}

h3 {
    font-weight: 700;
    font-size: 1.5em;
}

h4 {
    font-weight: 400;
    font-size: 1.125em;
}

h5 {
    font-weight: 600;
    font-size: 1.125em;
}

h6 {
    font-weight: 600;
    font-size: 1em;
    margin: 1%;
}

header {
    font-size: 1.25em;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin-top: 1em;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-weight: 300;
    color: #333333;
    text-decoration: none;
    margin: 3em;
}

.hero {
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .face {      
        width: 45%;
        align-items: center;
    }

    .about {
        background-color: #FAFAFA;
        width: 100%;
        text-align: center;
        height: 1000px;
    }

    .about div {
        padding: 0 5% 0;
    }

    .my-skills {
        margin-top: -500px;
        text-align: center;
    }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .face {      
        width: 40%;
        align-items: center;
    }

    .about {
        background-color: #FAFAFA;
        width: 100%;
        text-align: center;
        height: 900px;
    }

    .about div {
        padding: 0 30% 0;
    }

    .my-skills {
        margin-top: -350px;
        text-align: center;
    }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .face {
        margin: 5%;
        width: 35%;
        align-items: center;
    }
    
    .about {
        background-color: #FAFAFA;
        width: 100%;
        text-align: center;
        height: 850px;
    }

    .about div {
        padding: 0 10% 0;
    }

    .my-skills {
        margin-top: -550px;
        text-align: center;
    } 
}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .face {
        margin: 5%;
        width: 30%;
        align-items: center;
    }
    
    .about {
        background-color: #FAFAFA;
        width: 100%;
        text-align: center;
        height: 850px;
    }

    .about div {
        padding: 0 30% 0;
    }

    .my-skills {
        margin-top: -500px;
        text-align: center;
    }
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .face {
        margin: 5%;
        width: 20%;
        align-items: center;
    }
    
    .about {
        background-color: #FAFAFA;
        width: 100%;
        text-align: center;
        height: 850px;
    }

    .about div {
        padding: 0 30% 0;
    }

    .my-skills {
        margin-top: -650px;
        text-align: center;
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 10em 0;
}

.skill {
    display: block;
    margin: 0 auto;
    padding: 1em;
    flex: 1 1 0px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: left;
    min-width: 22em;
    box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.1);
}

.skills .skill div {
    margin: 1em;
}

.skills .skill div div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.image-with-description figcaption {
    display: block;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    text-align: center;
}

.my-projects {
    margin-top: 5%;
    text-align: center;
}

button {
    background: none;
    border: none;
    padding: 15px 70px 30px;
    font: inherit;
    font-size: 1.125em;
    color: #333333;
    cursor: pointer;
    margin-top: 1em;
    border-radius: 10px;
}

.showcase {
    margin: auto;
    margin-top: -20px;
    width: 50%;
    padding-top: 3em;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.1);
}

.my-projects div .showcase {
    background-color: #fff;
}

.showcase a {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 10px;
    padding-left: 1em;
    padding-right: 1em;
    font: inherit;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

.showcase div h4 {
    margin-left: 20%;
    margin-right: 20%;
}

video {
    width:90%;
    display: block;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px; 
    overflow: hidden;
}

.contact {
    margin-top: 5%;
    text-align: center;
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
}

.contact a {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 10px;
    padding-left: 1em;
    padding-right: 1em;
    font: inherit;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 1em;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1em;
}

footer .navigation {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #333333;
    text-decoration: none;
    padding: 1em;
}

footer .navigation a {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #333333;
    text-decoration: none;
    padding: 1em;
}